@CHARSET "UTF-8";
@IMPORT URL("reset.css");

* {
/* 	border:solid 1px #000; */
}

body { 
	padding-top: 70px; 
}

input {
	margin: 7px 0;
}



/**** Início ****/
#content {
	float: left;
}
#box-logo {
	margin-bottom: 50px;
}

#box-logo h1 {
	font-size: 5em;
	color: #CCC;
}

#box-logo h4 {
	color: #666;
	font-style: italic;
}


/** Left **/
#left {
	width: 250px;
	margin: 40px 10px;
	float: left;
}


/** Login **/
.message-error {
	color: #F00;
	list-style: none;
	text-align: left;
}


/** Veículo **/


/** Footer **/
footer {
	border-top: solid 1px #CCC;
	text-align: center;
	margin-top: 75px;
	padding: 10px 0;
	width: 100%;
	float:left;
}