@CHARSET "UTF-8";
/* @IMPORT URL("reset.css"); */

* {
	
	/*border:solid 1px #000; */
	font-family: Arial;
}

body { 
	
}
input[type=checkbox] {
	margin: 0;
	padding:0;
}
.center {
	text-align: center;
}
.dataTables_wrapper label {
	font-weight: normal;
}
.control-label {
	color: #666;
	font-weight: normal;
	font-size: 12px;	
}
.form-link-remove,
.form-link-edit {
	border: 0;
	margin: 0 5px;
	text-decoration: none;
}
.form-link-remove {
	color: #990000;
}
.form-link-edit {
	color: #009900;
}

/**** Início ****/
#content {
	padding-bottom:80px; /*Importante para cobrir o espaço do rodapé que é fixed ao rolar a página verticalmente*/
	float: left;
}
#box-logo {
	margin:100px 0 50px;
}

#box-logo h1 {
	font-size: 5em;
	color: #CCC;
}

#box-logo h4 {
	color: #666;
	font-style: italic;
}


/** Left **/
#left {
	width: 250px;
	margin: 40px 10px;
	float: left;
}


/** Login **/
#login {	
	margin-top:100px;
}
.message-error {
	color: #F00;
	list-style: none;
	text-align: left;
}


/**  **/
.form-h5 {
	border-bottom: solid 1px #efeded;
	font-weight: bold;
	padding: 10px 0 5px;
}

/** Veículos para empréstimo **/
.item-car {
	border:solid 1px #efeded;
	min-height: 210px;
}
.item-car > h5 {
	border-top:solid 1px #efeded;
	padding-top: 4px;
}
.item-car-topo {
	background: #efeded;
	font-weight: bold;
	padding: 5px;
	margin-bottom: 10px;
}
.item-car-topo > span {
	color: #999;
	font-size: 11px;
	float: right;
}
.item-car-corpo {
	min-height: 100px;
}
.item-car-corpo h6 {
	font-weight: bold;	
}
.item-car-corpo ul {
	padding: 0;
}
.item-car-corpo ul li {
	font-size: 12px;
	list-style: disc;
	margin-left: 25px;	
	padding: 2px;
}
.item-car-corpo ul li span {
	float: right;	
}
.item-car-direito {
	text-align: right;
	padding-right: 7px;
}
.item-car-direito > p {
	font-size: 11px;
}
.item-car-direito > p > span {
	color: #f00;
}


/** Footer **/
#footer {
	position:fixed;
	bottom:0;
	border-top: solid 1px #CCC;
	background:#FFF;
	text-align: center;
	font-size:12px;
	padding:5px;
	width: 100%;
	float:left;
}